<div class="list-group-item full-height-container contact-info">
    <h3>Edit Mode</h3>
    <div class="form-group">
        First name: <input class="form-control" id="firstname" ng-model="currentContact.firstname">
        Last name: <input class="form-control" id="lastname" ng-model="currentContact.lastname">
        Email: <input class="form-control" id="email" ng-model="currentContact.email">
        Phone number: <input class="form-control" id="phone" ng-model="currentContact.phone">
        Address: <input class="form-control" id="phone" ng-model="currentContact.address">
    </div>

    <span class="pull-right back-button">
        <a ng-href="#/contact-info/{{currentContact.phone}}">
            <button>Back</button>
        </a>
    </span>
</div>

